<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
  <div>
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    <p>Checkout the <a href="/about">About page!</a></p>
  </div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
